body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #14495e;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.lefteye {
  width: 25vh;
  height: 12.5vh;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  left: 20%;
  overflow: hidden;
}
.righteye {
  width: 25vh;
  height: 12.5vh;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  left: -20%;
  overflow: hidden;
}
.ball {
  width: 25%;
  height: 50%;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
